#image_preview {
    height: 300px;
    width: 300px;
    position: relative;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: inherit;
    p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -9999;
    }
}
